@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700&family=Work+Sans:wght@100;400;500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  list-style: none;
  text-decoration: none; }

img {
  max-width: 100%; }

body {
  font-size: 0.9em;
  font-family: 'Source Serif Pro', 'Work Sans', sans-serif; }

h1 {
  font-family: 'Source Serif Pro';
  font-weight: 400; }

p {
  font-family: 'Work Sans';
  font-weight: 400; }
