@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700&family=Work+Sans:wght@100;400;500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 60%;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #303030; }

li {
  list-style: none; }

img {
  max-width: 100%;
  width: 100%; }

input::-moz-focus-inner {
  outline: none;
  border: 0; }

body {
  font-size: 0.9em;
  font-family: 'Source Serif Pro', 'Work Sans', sans-serif;
  color: #303030; }

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

#header .nav {
  padding: 1em 0; }
  #header .nav .logo {
    width: 40%; }
    #header .nav .logo img {
      width: 50%; }
  #header .nav .navbar-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    font-family: 'Work Sans', sans-serif; }
    #header .nav .navbar-link a {
      color: #6e6e6e;
      transition: all 0.1s ease-in-out; }
      #header .nav .navbar-link a:hover {
        color: #303030; }
  #header .nav .hamburger-menu {
    display: none;
    cursor: pointer; }
    #header .nav .hamburger-menu .lines {
      width: 25px;
      height: 3px;
      border-radius: 20px;
      background: #303030; }
    #header .nav .hamburger-menu .lines:not(:last-child) {
      margin-bottom: 0.3em; }

#header .mobile-menu {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  font-family: 'Work Sans', sans-serif; }
  #header .mobile-menu a {
    color: #6e6e6e;
    transition: all 0.1s ease-in-out; }
    #header .mobile-menu a:hover {
      color: #303030; }

#jumbo-section {
  padding: 10em 0; }
  #jumbo-section .jumbo-text {
    align-self: flex-start;
    width: 40%;
    margin-top: 8em; }
    #jumbo-section .jumbo-text .main-title {
      font-size: 3.5rem;
      margin-bottom: 0.2em; }
    #jumbo-section .jumbo-text .jumbo-p {
      font-family: 'Work Sans', sans-serif;
      margin-bottom: 3em;
      line-height: 1.5rem; }
    #jumbo-section .jumbo-text .jumbo-btn {
      font-family: 'Work Sans', sans-serif;
      color: #fff;
      padding: 0.8em 1.5em;
      background: #303030;
      border-radius: 2px; }
  #jumbo-section .jumbo-img {
    display: flex;
    justify-content: flex-end;
    width: 60%; }
    #jumbo-section .jumbo-img img {
      width: 80%;
      max-width: 100%;
      border-radius: 2px; }
  #jumbo-section .jumbo-text + .jumbo-img {
    margin-left: 3em; }

#about-us-section {
  padding: 10em 0;
  background: #fafafa; }
  #about-us-section .about-us-img {
    width: 60%; }
    #about-us-section .about-us-img img {
      width: 80%;
      max-width: 100%;
      border-radius: 2px; }
  #about-us-section .about-us-text {
    align-self: flex-start;
    width: 40%;
    margin-top: 8em; }
    #about-us-section .about-us-text .about-us-main-title {
      font-size: 3.5rem;
      margin-bottom: 0.5em; }
    #about-us-section .about-us-text .about-us-p {
      font-family: 'Work Sans', sans-serif;
      margin-bottom: 3em;
      line-height: 1.5rem; }
      #about-us-section .about-us-text .about-us-p span {
        color: #fff;
        background: #303030;
        padding: 0.1em;
        border-radius: 2px; }

#service-section {
  padding: 10em 0; }
  #service-section .service-section-main-title {
    font-size: 3.5rem;
    margin-bottom: 1em;
    text-align: center; }
  #service-section .service-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px; }
    #service-section .service-grid-container .box .sub-title {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 0.9em; }
    #service-section .service-grid-container .box img {
      margin-bottom: 0.6em;
      border-radius: 2px; }
    #service-section .service-grid-container .box .service-section-p {
      font-family: 'Work Sans', sans-serif;
      line-height: 1.5rem; }
  #service-section .box + .box {
    margin-left: 3em; }

#project-section {
  padding: 10em 0;
  background: #fafafa; }
  #project-section .project-section-main-title {
    font-size: 3.5rem;
    margin-bottom: 1em;
    text-align: center; }
  #project-section .project-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em; }
    #project-section .project-grid-container .box {
      color: #fff;
      position: relative;
      transition: all 1s ease-in-out; }
      #project-section .project-grid-container .box img {
        border-radius: 2px; }
      #project-section .project-grid-container .box:hover .project-info {
        visibility: visible;
        opacity: 1; }
      #project-section .project-grid-container .box .project-info {
        height: 100%;
        position: absolute;
        padding: 1em;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.6), black);
        visibility: hidden;
        opacity: 0;
        border-radius: 2px; }
        #project-section .project-grid-container .box .project-info .project-section-sub-title {
          text-align: center;
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 0.9em; }
        #project-section .project-grid-container .box .project-info .project-section-p {
          font-family: 'Work Sans', sans-serif;
          line-height: 1.5rem; }
    #project-section .project-grid-container .box-1 {
      grid-column: 1/2;
      grid-row: 1/3; }
    #project-section .project-grid-container .box-2 {
      grid-column: 2/3;
      grid-row: 1/2; }
    #project-section .project-grid-container .box-3 {
      grid-column: 2/3;
      grid-row: 2/3; }
    #project-section .project-grid-container .box-4 {
      grid-column: 3/4;
      grid-row: 1/3; }

#contact-section {
  padding: 10em 0; }
  #contact-section .contact-img {
    width: 60%; }
    #contact-section .contact-img img {
      width: 80%;
      max-width: 100%;
      border-radius: 2px; }
  #contact-section .contact-info {
    align-self: flex-start;
    width: 40%;
    margin-top: 4em; }
    #contact-section .contact-info .contact-us-main-title {
      font-size: 3.5rem;
      margin-bottom: 1em;
      text-align: center; }
    #contact-section .contact-info .form .first-row {
      margin-bottom: 1.5em; }
      #contact-section .contact-info .form .first-row .last-name-group {
        margin-right: 1.5em; }
    #contact-section .contact-info .form .second-row {
      margin-bottom: 1.5em; }
    #contact-section .contact-info .form .input-container {
      border: 1px solid #ededed;
      border-radius: 2px;
      height: 2.5em;
      transition: border 0.3s ease-in-out; }
      #contact-section .contact-info .form .input-container:hover {
        border: 1px solid #303030; }
      #contact-section .contact-info .form .input-container input {
        font-family: 'Work Sans', sans-serif;
        line-height: 1.5rem;
        width: 90%;
        height: 100%;
        outline: 0;
        border: 0;
        margin-left: 1em; }
        #contact-section .contact-info .form .input-container input::-moz-focus-inner {
          outline: 0;
          border: 0; }
    #contact-section .contact-info .form label {
      font-family: 'Work Sans', sans-serif;
      line-height: 2rem; }
    #contact-section .contact-info .form .email-address {
      margin-bottom: 1.5em; }
    #contact-section .contact-info .form .textarea-container {
      border: 1px solid #ededed;
      height: 10em;
      margin-bottom: 1.5em;
      border-radius: 2px;
      transition: border 0.3s ease-in-out; }
      #contact-section .contact-info .form .textarea-container:hover {
        border: 1px solid #303030; }
      #contact-section .contact-info .form .textarea-container textarea {
        font-family: 'Work Sans', sans-serif;
        line-height: 1.5rem;
        width: 96%;
        height: 88%;
        outline: none;
        border: 0;
        resize: none;
        margin-top: 1.1em;
        margin-left: 1em; }
        #contact-section .contact-info .form .textarea-container textarea::-moz-focus-inner {
          outline: none;
          border: 0; }
    #contact-section .contact-info .form .contact-section-btn {
      font-family: 'Work Sans', sans-serif;
      color: #fff;
      padding: 0.8em 1.5em;
      background: #303030;
      margin-bottom: 1.5em;
      border-radius: 2px;
      border: none;
      outline: none;
      cursor: pointer; }
    #contact-section .contact-info .form .agreement {
      font-family: 'Work Sans', sans-serif;
      line-height: 1.5rem; }
      #contact-section .contact-info .form .agreement span a {
        color: #6e6e6e;
        transition: all 0.3s ease-in-out; }
        #contact-section .contact-info .form .agreement span a:hover {
          color: #303030; }
  #contact-section .contact-img + .contact-info {
    margin-left: 3em; }

#footer {
  padding: 2em 0;
  background: #fafafa; }
  #footer .copyright {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5rem;
    text-align: center; }

/******************************* Media query ******************************/
@media only screen and (max-width: 600px) {
  .container {
    width: 90%; }
  .row {
    flex-wrap: wrap; }
  #header .nav-container {
    width: 100%; }
    #header .nav-container .nav {
      display: inline-block;
      padding: 1em 0; }
      #header .nav-container .nav .row {
        flex-wrap: nowrap; }
        #header .nav-container .nav .row .logo {
          width: 40%;
          margin-left: 2em; }
          #header .nav-container .nav .row .logo img {
            width: 100%; }
        #header .nav-container .nav .row .navbar-link {
          display: none; }
        #header .nav-container .nav .row .hamburger-menu {
          display: block;
          margin-right: 2em; }
    #header .nav-container .mobile-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 2em 0;
      width: 100%;
      height: 100vh;
      position: absolute;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out; }
      #header .nav-container .mobile-menu.active {
        opacity: 1;
        visibility: visible; }
      #header .nav-container .mobile-menu li {
        margin: 2em 0 0 2em;
        width: 100%; }
        #header .nav-container .mobile-menu li .links {
          display: block;
          width: 100%; }
      #header .nav-container .mobile-menu li + li {
        margin-top: 2em; }
  #jumbo-section {
    padding: 8em 0; }
    #jumbo-section .jumbo-text {
      width: 100%;
      margin: 0 0 4em; }
      #jumbo-section .jumbo-text .main-title {
        font-size: 3.3rem; }
    #jumbo-section .jumbo-img {
      justify-content: center;
      width: 100%; }
      #jumbo-section .jumbo-img img {
        width: 100%; }
    #jumbo-section .jumbo-text + .jumbo-img {
      margin-left: 0; }
  #about-us-section {
    padding: 8em 0; }
    #about-us-section .about-us-img {
      width: 100%;
      margin: 0 0 4em; }
      #about-us-section .about-us-img img {
        width: 100%; }
    #about-us-section .about-us-text {
      width: 100%;
      margin: 0; }
      #about-us-section .about-us-text .about-us-main-title {
        font-size: 3.3rem; }
  #service-section {
    padding: 8em 0; }
    #service-section .service-section-main-title {
      font-size: 3.3rem; }
    #service-section .service-grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 490px;
      grid-gap: 3.5em; }
      #service-section .service-grid-container .box + .box {
        margin-left: 0; }
  #project-section {
    padding: 8em 0; }
    #project-section .project-section-main-title {
      font-size: 3.3rem; }
    #project-section .project-grid-container {
      grid-template-columns: 1fr;
      grid-gap: 3.5em; }
      #project-section .project-grid-container .box-1 {
        grid-column: 1/1;
        grid-row: 1/2; }
      #project-section .project-grid-container .box-2 {
        grid-column: 1/1;
        grid-row: 2/3;
        height: 240px; }
        #project-section .project-grid-container .box-2 img {
          height: 100%; }
      #project-section .project-grid-container .box-3 {
        grid-column: 1/1;
        grid-row: 3/4;
        height: 240px; }
        #project-section .project-grid-container .box-3 img {
          height: 100%; }
      #project-section .project-grid-container .box-4 {
        grid-column: 1/1;
        grid-row: 4/5; }
      #project-section .project-grid-container .box + .box {
        margin-left: 0; }
  #contact-section {
    padding: 8em 0; }
    #contact-section .contact-img {
      width: 100%;
      margin-bottom: 3.3em; }
      #contact-section .contact-img img {
        width: 100%; }
    #contact-section .contact-info {
      width: 100%;
      margin-top: 0; }
      #contact-section .contact-info .contact-us-main-title {
        font-size: 3.3rem; }
      #contact-section .contact-info .form .first-row {
        margin-bottom: 1.5em; }
        #contact-section .contact-info .form .first-row .first-name-group {
          width: 100%;
          margin-bottom: 1.5em; }
        #contact-section .contact-info .form .first-row .last-name-group {
          width: 100%;
          margin: 0 0 1.5em; }
      #contact-section .contact-info .form .second-row {
        margin-bottom: 1.5em; }
        #contact-section .contact-info .form .second-row .phone-number-group {
          width: 100%;
          margin-bottom: 1.5em; }
        #contact-section .contact-info .form .second-row .company-name-group {
          width: 100%;
          margin-bottom: 1.5em; }
      #contact-section .contact-info .form .textarea-container textarea {
        margin-left: 0.8em;
        width: 96%;
        height: 89%; }
    #contact-section .contact-img + .contact-info {
      margin-left: 0; } }
