@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700&family=Work+Sans:wght@100;400;500;700&display=swap');
@import "variables";
@import "animation"; // General Styles

*,
*::after,
*::before {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

.container {
  width : 60%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color          : $body-p-color;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  width    : 100%;
}

input::-moz-focus-inner {
  outline: none;
  border : 0;
}

body {
  font-size  : 0.9em;
  font-family: 'Source Serif Pro', 'Work Sans', sans-serif;
  color      : $body-p-color;
}

.row {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  width          : 100%;
}
// Header Styles

#header {
  .nav {
    padding: 1em 0;

    .logo {
      width: 40%;

      img {
        width: 50%;
      }
    }

    .navbar-link {
      display        : flex;
      justify-content: space-between;
      align-items    : center;
      width          : 30%;
      font-family    : 'Work Sans', sans-serif;

      a {
        color     : #6e6e6e;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: $body-p-color;
        }
      }
    }
    // Hamburger Menu Styles
    .hamburger-menu {
      display: none;
      cursor : pointer;

      .lines {
        width        : 25px;
        height       : 3px;
        border-radius: 20px;
        background   : $body-p-color;
      }

      .lines:not(:last-child) {
        margin-bottom: 0.3em;
      }
    }
  }
  // Mobile Menu Styles
  .mobile-menu {
    display        : none;
    justify-content: space-between;
    align-items    : center;
    width          : 30%;
    font-family    : 'Work Sans', sans-serif;

    a {
      color     : #6e6e6e;
      transition: all 0.1s ease-in-out;

      &:hover {
        color: $body-p-color;
      }
    }
  }
}
// Jumbo Styles

#jumbo-section {
  padding: 10em 0;

  .jumbo-text {
    align-self: flex-start;
    width     : 40%;
    margin-top: 8em;

    .main-title {
      font-size    : 3.5rem;
      margin-bottom: 0.2em;
    }

    .jumbo-p {
      font-family  : 'Work Sans', sans-serif;
      margin-bottom: 3em;
      line-height  : 1.5rem;
    }

    .jumbo-btn {
      font-family  : 'Work Sans', sans-serif;
      color        : #fff;
      padding      : 0.8em 1.5em;
      background   : $body-p-color;
      border-radius: 2px;
    }
  }

  .jumbo-img {
    display        : flex;
    justify-content: flex-end;
    width          : 60%;

    img {
      width        : 80%;
      max-width    : 100%;
      border-radius: 2px;
    }
  }

  .jumbo-text + .jumbo-img {
    margin-left: 3em;
  }
}
// About us Styles

#about-us-section {
  padding   : 10em 0;
  background: $grey-color;

  .about-us-img {
    width: 60%;

    img {
      width        : 80%;
      max-width    : 100%;
      border-radius: 2px;
    }
  }

  .about-us-text {
    align-self: flex-start;
    width     : 40%;
    margin-top: 8em;

    .about-us-main-title {
      font-size    : 3.5rem;
      margin-bottom: 0.5em;
    }

    .about-us-p {
      font-family  : 'Work Sans', sans-serif;
      margin-bottom: 3em;
      line-height  : 1.5rem;

      span {
        color        : #fff;
        background   : $body-p-color;
        padding      : 0.1em;
        border-radius: 2px;
      }
    }
  }
}
// Service Styles

#service-section {
  padding: 10em 0;

  .service-section-main-title {
    font-size    : 3.5rem;
    margin-bottom: 1em;
    text-align   : center;
  }

  .service-grid-container {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows   : 500px;

    .box {
      .sub-title {
        text-align   : center;
        font-size    : 2rem;
        font-weight  : 600;
        margin-bottom: 0.9em;
      }

      img {
        margin-bottom: 0.6em;
        border-radius: 2px;
      }

      .service-section-p {
        font-family: 'Work Sans', sans-serif;
        line-height: 1.5rem;
      }
    }
  }

  .box + .box {
    margin-left: 3em;
  }
}
// Project Styles

#project-section {
  padding   : 10em 0;
  background: $grey-color;

  .project-section-main-title {
    font-size    : 3.5rem;
    margin-bottom: 1em;
    text-align   : center;
  }

  .project-grid-container {
    display              : grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap             : 2em;

    .box {
      color     : #fff;
      position  : relative;
      transition: all 1s ease-in-out;

      img {
        border-radius: 2px;
      }

      &:hover {
        .project-info {
          visibility: visible;
          opacity   : 1;
        }
      }

      .project-info {
        height       : 100%;
        position     : absolute;
        padding      : 1em;
        background   : linear-gradient(to right, rgba(0,0,0, .6), rgba(0,0,0, 1));
        visibility   : hidden;
        opacity      : 0;
        border-radius: 2px;

        .project-section-sub-title {
          text-align   : center;
          font-size    : 2rem;
          font-weight  : 600;
          margin-bottom: 0.9em;
        }

        .project-section-p {
          font-family: 'Work Sans', sans-serif;
          line-height: 1.5rem;
        }
      }
    }

    .box-1 {
      grid-column: 1/2;
      grid-row   : 1/3;
    }

    .box-2 {
      grid-column: 2/3;
      grid-row   : 1/2;
    }

    .box-3 {
      grid-column: 2/3;
      grid-row   : 2/3;
    }

    .box-4 {
      grid-column: 3/4;
      grid-row   : 1/3;
    }
  }
}
// Contact Styles

#contact-section {
  padding: 10em 0;

  .contact-img {
    width: 60%;

    img {
      width        : 80%;
      max-width    : 100%;
      border-radius: 2px;
    }
  }

  .contact-info {
    align-self: flex-start;
    width     : 40%;
    margin-top: 4em;

    .contact-us-main-title {
      font-size    : 3.5rem;
      margin-bottom: 1em;
      text-align   : center;
    }

    .form {
      .first-row {
        margin-bottom: 1.5em;

        .last-name-group {
          margin-right: 1.5em;
        }
      }

      .second-row {
        margin-bottom: 1.5em;
      }

      .input-container {
        border       : 1px solid #ededed;
        border-radius: 2px;
        height       : 2.5em;
        transition   : border 0.3s ease-in-out;

        &:hover {
          border: 1px solid $body-p-color;
        }

        input {
          font-family: 'Work Sans', sans-serif;
          line-height: 1.5rem;
          width      : 90%;
          height     : 100%;
          outline    : 0;
          border     : 0;
          margin-left: 1em;

          &::-moz-focus-inner {
            outline: 0;
            border : 0;
          }
        }
      }

      label {
        font-family: 'Work Sans', sans-serif;
        line-height: 2rem;
      }

      .email-address {
        margin-bottom: 1.5em;
      }

      .textarea-container {
        border       : 1px solid #ededed;
        height       : 10em;
        margin-bottom: 1.5em;
        border-radius: 2px;
        transition   : border 0.3s ease-in-out;

        &:hover {
          border: 1px solid $body-p-color;
        }

        textarea {
          font-family: 'Work Sans', sans-serif;
          line-height: 1.5rem;
          width      : 96%;
          height     : 88%;
          outline    : none;
          border     : 0;
          resize     : none;
          margin-top : 1.1em;
          margin-left: 1em;

          &::-moz-focus-inner {
            outline: none;
            border : 0;
          }
        }
      }

      .contact-section-btn {
        font-family  : 'Work Sans', sans-serif;
        color        : #fff;
        padding      : 0.8em 1.5em;
        background   : $body-p-color;
        margin-bottom: 1.5em;
        border-radius: 2px;
        border       : none;
        outline      : none;
        cursor       : pointer;
      }

      .agreement {
        font-family: 'Work Sans', sans-serif;
        line-height: 1.5rem;

        span {
          a {
            color     : #6e6e6e;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $body-p-color;
            }
          }
        }
      }
    }
  }

  .contact-img + .contact-info {
    margin-left: 3em;
  }
}
// Footer Styles

#footer {
  padding   : 2em 0;
  background: $grey-color;

  .copyright {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5rem;
    text-align : center;
  }
}
/******************************* Media query ******************************/
// Mobile
@media only screen and (max-width: 600px) {
  // Global Styles
  .container {
    width: 90%;
  }

  .row {
    flex-wrap: wrap;
  }
  // Header Styles
  #header {
    .nav-container {
      width: 100%;

      .nav {
        display: inline-block;
        padding: 1em 0;

        .row {
          flex-wrap: nowrap;

          .logo {
            width      : 40%;
            margin-left: 2em;

            img {
              width: 100%;
            }
          }

          .navbar-link {
            display: none;
          }

          .hamburger-menu {
            display     : block;
            margin-right: 2em;
          }
        }
      }

      .mobile-menu {
        display        : flex;
        flex-direction : column;
        justify-content: flex-start;
        align-items    : flex-start;
        padding        : 2em 0;
        width          : 100%;
        height         : 100vh;
        position       : absolute;
        background     : #fff;
        opacity        : 0;
        visibility     : hidden;
        transition     : all 0.3s ease-in-out;

        &.active {
          opacity   : 1;
          visibility: visible;
        }

        li {
          margin: 2em 0 0 2em;
          width : 100%;

          .links {
            display: block;
            width  : 100%;
          }
        }

        li + li {
          margin-top: 2em;
        }
      }
    }
  }
  // Jumbo Styles
  #jumbo-section {
    padding: 8em 0;

    .jumbo-text {
      width : 100%;
      margin: 0 0 4em;

      .main-title {
        font-size: 3.3rem;
      }
    }

    .jumbo-img {
      justify-content: center;
      width          : 100%;

      img {
        width: 100%;
      }
    }

    .jumbo-text + .jumbo-img {
      margin-left: 0;
    }
  }
  // About Us Styles
  #about-us-section {
    padding: 8em 0;

    .about-us-img {
      width : 100%;
      margin: 0 0 4em;

      img {
        width: 100%;
      }
    }

    .about-us-text {
      width : 100%;
      margin: 0;

      .about-us-main-title {
        font-size: 3.3rem;
      }
    }
  }
  // Service Styles
  #service-section {
    padding: 8em 0;

    .service-section-main-title {
      font-size: 3.3rem;
    }

    .service-grid-container {
      grid-template-columns: 1fr;
      grid-template-rows   : 490px;
      grid-gap             : 3.5em;

      .box + .box {
        margin-left: 0;
      }
    }
  }
  // Project Styles
  #project-section {
    padding: 8em 0;

    .project-section-main-title {
      font-size: 3.3rem;
    }

    .project-grid-container {
      grid-template-columns: 1fr;
      grid-gap             : 3.5em;

      .box-1 {
        grid-column: 1/1;
        grid-row   : 1/2;
      }

      .box-2 {
        grid-column: 1/1;
        grid-row   : 2/3;
        height     : 240px;

        img {
          height: 100%;
        }
      }

      .box-3 {
        grid-column: 1/1;
        grid-row   : 3/4;
        height     : 240px;

        img {
          height: 100%;
        }
      }

      .box-4 {
        grid-column: 1/1;
        grid-row   : 4/5;
      }

      .box + .box {
        margin-left: 0;
      }
    }
  }
  // Project Styles
  #contact-section {
    padding: 8em 0;

    .contact-img {
      width        : 100%;
      margin-bottom: 3.3em;

      img {
        width: 100%;
      }
    }

    .contact-info {
      width     : 100%;
      margin-top: 0;

      .contact-us-main-title {
        font-size: 3.3rem;
      }

      .form {
        .first-row {
          margin-bottom: 1.5em;

          .first-name-group {
            width        : 100%;
            margin-bottom: 1.5em;
          }

          .last-name-group {
            width : 100%;
            margin: 0 0 1.5em;
          }
        }

        .second-row {
          margin-bottom: 1.5em;

          .phone-number-group {
            width        : 100%;
            margin-bottom: 1.5em;
          }

          .company-name-group {
            width        : 100%;
            margin-bottom: 1.5em;
          }
        }

        .textarea-container {
          textarea {
            margin-left: 0.8em;
            width      : 96%;
            height     : 89%;
          }
        }
      }
    }

    .contact-img + .contact-info {
      margin-left: 0;
    }
  }
}